<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title> Website Template | Contact us</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>
	<body>
		<div class="topnav" id="navbar">
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="contact.html" class="active">Contact us</a>
			<a href="javascript:void(0);" class="icon" onclick="topnav_responsive">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<center>
			<br>
			<h1 id="header-2">Contact Us</h1>
		<form action="/contact" id="contact-form" method="post" role="form">
				<label for="name">Name</label>
				<input id="name" name="name" type="text" 	placeholder="Name..." required></input><br>

				<label for="email">Email</label>
				<input id="email" name="email" type="text" placeholder="Email Address..." required></label><br>

				<label for="message">Message</label>
				<textarea id="message" name="message" placeholder="Message" rows="3" required></textarea><br>

				<br>
				<button id="btn-1" onclick="document.location = 'index.html'" type="submit">Submit</button>
		</form>
		</center>
		<div class="footer">
			<h4>Link to your socials</h4>
			<a href="https://github.com/k9chelsea2/Website-Template">Github</a>
			<a href="https://repl.it/languages">Repl.it</a>
			<style> 
			.footer {position: absolute;}
			</style>
		</div>
		<script src="/static/script.js"></script>
	</body>
</html>