<!DOCTYPE html>
<html color-mode="light">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Website Template | Home</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>
	<body>
		<div class="topnav" id="navbar">
			<a href="/pages/index.html" class="active">Home</a>
			<a href="/pages/about.html">About</a>
			<a href="/pages/contact.html">Contact us</a>
			<a href="javascript:void(0);" class="icon" onclick="topnav_responsive()">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<button 
			id="btn-2"
			class="color-mode__btn light--hidden" 
			aria-label="Toggle light mode">
			Toggle Light Mode 
			<svg aria-hidden="true">
				<title> huh</title>
				<use href="#sun"></use>
			</svg>
		</button>

		<button
			id="btn-2"
			class="color-mode__btn dark--hidden"
			aria-label="Toggle dark mode">
			toggle dark mode 
			<svg aria-hidden="true">
				<title>Dark</title>
				<use href="#moon"></use>
			</svg>
		</button>
		<center>
			<h1 id="header-3">Welcome!</h1>
			<br><br>
			<img src="/media/placeholder.png">
			<h4>You can learn more about us in the <a href="/pages/about.html">About</a> page!</h4>
			<h5>Have a problem? Feel free to <a href="/pages/contact.html">Contact Us</a>
		</center>
		<!--<div class="button" id="btn-1" onclick="toggle()">Change Theme</div>-->
		<script src="/static/script.js"></script>
	</body>
</html>
