<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Website Template | Home</title>
		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>
	<body>
		<div class="topnav" id="navbar">
			<a href="about.html" class="active">About</a>
			<a href="contact.html">Contact us</a>
		</div>
		<div class="button" id="btn-1" onclick="toggle()">Change Theme</div>
		<script src="/static/script.js"></script>
	</body>
</html>
